__pycache__/
*.pyc
.coverage
.pytest_cache/
.ruff_cache/
dist/
.env
cfg/*/
!cfg/example/
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea/
.mcp.json
.profile
.ripgreprc
.vscode/
.zprofile
.zshrc
HEAD
config
hooks/
objects/
refs/
