__pycache__/
*.pyc
*.egg-info/
.DS_Store
*.swp
.coverage
.pytest_cache/
.ruff_cache/
dist/
.env
.venv/
/.claude/
tmp/
log/
cfg/*/
cfg/*.env
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea/
.mcp.json
.profile
.ripgreprc
.vscode/
.zprofile
.zshrc
HEAD
config
hooks/
objects/
refs/
